/*Scrollbar*/

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #18181b;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
    background-color: #18181b;
}

body::-webkit-scrollbar-track {
    background: #3f3f46;
    border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #27272a;
}

/* ===== TIPOGRAFÍA ===== */
.font-custom {
    font-family: 'Cutive Mono', monospace;
}

/* ===== COLORES BASE ===== */
body {
    background-color: #1a1a1a;
}

header {
    background-color: #1f2937;
}


/* ===== ANIMACIONES Y FORMAS ===== */

/* Contenedor hexagonal para la foto de perfil */
.hexagon-container {
    width: 500px;
    height: 500px;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 100% 100%, 0% 100%, 0% 25%);
    animation: float 3s ease-in-out infinite;
}

.hexagon-image {
    padding: 20px;
    width: 100%;
    height: 100%;
}

/* Animación flotante usada para la imagen y los iconos */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); /* Altura máxima del "flote" */
    }
    100% {
        transform: translateY(0);
    }
}

/* ===== SECCIONES ESPECÍFICAS ===== */

/* Estilos para los iconos de tecnologías en la sección "Sobre Mí" */
.tech-icon-floating {
    width: 64px;
    height: 64px;
    position: absolute;
    animation: float 4s ease-in-out infinite;
}

/* Posicionamiento de cada icono de tecnología */
.icon-pos-1 { top: 10%; left: 15%; animation-delay: 0s; }
.icon-pos-2 { top: 25%; right: 10%; animation-delay: 0.5s; }
.icon-pos-3 { top: 50%; left: 5%; animation-delay: 1s; }
.icon-pos-4 { bottom: 20%; right: 20%; animation-delay: 1.5s; }
.icon-pos-5 { top: 5%; right: 35%; animation-delay: 2s; }
.icon-pos-6 { bottom: 10%; left: 25%; animation-delay: 2.5s; }
.icon-pos-7 { top: 60%; right: 5%; animation-delay: 3s; }
.icon-pos-8 { left: 20%; bottom: 40%; animation-delay: 3.5s; }
.icon-pos-9 { top: 80%; left: 10%; animation-delay: 0.2s; }
.icon-pos-10 { right: 15%; top: 75%; animation-delay: 0.7s; }
.icon-pos-11 { top: 0; left: 45%; animation-delay: 1.2s; }

/* Estilos para los iconos de redes sociales en la sección "Contáctame" */
.social-icon-floating {
    width: 70px;
    height: 70px;
    position: absolute;
    animation: float 3s ease-in-out infinite;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.social-icon-floating:hover {
    filter: grayscale(0%);
}

.social-icon-floating img {
    width: 100%;
    height: 100%;
}


/* Posicionamiento de cada icono social */
.social-pos-1 { top: 10%; left: 13%; animation-delay: 0s; }
.social-pos-2 { top: 40%; right: 15%; animation-delay: 0.5s; }
.social-pos-3 { bottom: 10%; left: 15%; animation-delay: 1s; }


/* Estilos para las tarjetas de proyectos en la sección "Portafolio" */
.project-card {
    background-color: #2a2a2a;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.project-card:hover {
    transform: scale(1.05);
}

/* ===== COMPONENTES DE LA INTERFAZ ===== */

#sidebar {
    transition: transform 0.3s ease-in-out;
}

#typing-animation::after {
    content: '|';
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; } 
    50% { opacity: 0; }
}


/* 
==================================
===== TEMA CLARO (LIGHT MODE) =====
==================================
*/

body.light-mode {
    background-color: #f3f4f6;
    color: #1f2937;
}

body.light-mode header {
    background-color: #e5e7eb;
}

body.light-mode .text-white {
    color: #1f2937; 
}

body.light-mode .text-gray-400, body.light-mode .text-zinc-400 {
    color: #4b5563;
}

body.light-mode a.hover\:text-sky-700:hover {
    color: #0369a1; 
}

body.light-mode .project-card {
    background-color: #e5e7eb;
}

body.light-mode #project-modal .bg-gray-900 {
    background-color: #f3f4f6;
}

body.light-mode .bg-zinc-800 {
    background-color: #d4d4d8;
}

body.light-mode .bg-sky-900 {
    background-color: #0c4a6e;
}

body.light-mode .hover\:bg-sky-700:hover{
    background-color: #0369a1;
}

/* Estilos del formulario de contacto en Tema Claro */
body.light-mode #contacto .bg-zinc-900 {
    background-color: #e5e7eb;
}

body.light-mode #contacto .bg-zinc-800 {
    background-color: #f9fafb;
}

body.light-mode #contacto .text-gray-200 {
    color: #1f2937;
}

body.light-mode #contacto .border-zinc-700 {
    border-color: #d1d5db;
}
